:root {
    --akcentnyy: #ffa55c;
    --akcentnyy-2: #ceaad0;
    --fonovyy: #ffe0cb;
    --fonovyy-svetlyy: #fff9f4;
    --zagolovochnyy: #1f1711;
    --nabornyy: #312c27;
    --fioletovyy: #704174;
    --disabled: #e1d9e1;
    --inputy: #ac907a;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Gabriola", sans-serif;
    --third-family: "Inspiration", sans-serif;
}

.body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background: var(--fonovyy-svetlyy);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    /* max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%; */
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header {
    background: url("/img/decor/bg-header.png") 0 0 / cover no-repeat;
    background-position: center center;
    /* padding-bottom: 140px; */
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 60px;
    padding-top: 19px;
}



.logo {
    max-width: 175px;
    max-height: 60px;
    z-index: 11;
}

.logo img {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4vh 40px;
}

.menu-link {
    z-index: 2;
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.menu-link::before {
    content: '';
    position: absolute;
    border-radius: 100%;
    background: var(--akcentnyy);
    left: -13px;
    top: -10px;
    width: 32px;
    height: 34px;
    z-index: -1;
    opacity: 0;
    transition: .4s;
}

.menu-link:hover::before {
    opacity: 1;
    transition: .4s;
}

.burger-icon {
    display: none;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 4px;
    background: var(--nabornyy);
    border-radius: 20px;
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    display: block;
    width: 35px;
    height: 4px;
    background: var(--nabornyy);
    border-radius: 20px;
    position: absolute;
    transition: all .5s;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}


.body--opened-menu .burger-icon span::after {
    left: 0;
    top: 0;
    z-index: 12;
    transform: rotateZ(45deg);
}

.body--opened-menu .burger-icon span::before {
    left: 0;
    top: 0;
    z-index: 12;
    transform: rotateZ(-45deg);
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 140px;
    padding-top: 48px;
    padding-bottom: 160px;
}


.hero-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 40px; */
    max-width: 520px;
    max-height: 372px;
}

.date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-transform: uppercase;
    color: #b197b2;
    margin-bottom: 20px;
}

.hero-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;

    /* line-height: 61px; */
    line-height: 82%;
    color: var(--zagolovochnyy);
    margin-bottom: 30px;
}

.hero-desk {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
    margin-bottom: 40px;
}

.hero-img {
    margin-right: 247px;
    position: relative;
}

.hero-img>img {
    max-width: 100%;
}

.hero-img_control {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 100%;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    bottom: 11%;
    left: calc(100% - 39px);
}

.hero-img_button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 100%;
    position: relative;
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
}

.hero-img_button img {
    padding-left: 8.8%;
}

.hero-img_button::before {
    opacity: 0;
    inset: 5px;
    content: '';
    position: absolute;
    border-radius: 100%;
    border: 1px solid var(--akcentnyy);
    transition: all .5s;
}

.hero-img_button:hover::before {
    opacity: 1;
    transition: all .5s;
}

.button {
    border-radius: 60px;
    padding: 18px 36px;
    width: 358px;
    height: 62px;
    transition: .6s;
    background: var(--akcentnyy);
    max-width: 100%;
}

.button-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-align: center;
    color: var(--nabornyy);
}

.button:hover {
    background: #ff9138;
    transition: .6s;
}

.aboutUs {
    padding-top: 140px;
    padding-bottom: 140px;
}

.aboutUs-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aboutUs-img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.aboutUs-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 10%;
}

.aboutUs-img__control {
    padding: 15px 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
    max-height: 108px;
    height: 100%;
    gap: 10px;
    bottom: 4.7%;
    left: 5%;
    text-align: left;
    background: rgba(149, 123, 151, 0.9);
    border-radius: 20px;
}

.aboutUs-img__button {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 100%;
    background: var(--fonovyy-svetlyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
}

.aboutUs-img__button::before {
    opacity: 0;
    inset: 5px;
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--akcentnyy-2);
    transition: all .5s;
}

.aboutUs-control__mobile {
    padding: 15px 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
    max-height: 108px;
    height: 100%;
    gap: 10px;
    bottom: 4.7%;
    left: 5%;
    text-align: left;
    background: rgba(149, 123, 151, 0.9);
    border-radius: 20px;

    opacity: 0;
    visibility: hidden;
}


.aboutUs-img__button:hover::before {
    opacity: 1;
    transition: all .5s;
}

.aboutUs-text {
    max-height: 534px;
    padding-left: 53px;
}

.aboutUs-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;

    /* line-height: 61px; */
    line-height: 82%;
    color: var(--zagolovochnyy);
}

.title-desk {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 30px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}

.aboutUs-desk {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 40px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}

.aboutUs-features {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.features-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;
    border-radius: 20px;
    width: 296px;
    height: 130px;
    background: var(--fonovyy);
    padding-left: 24.5px;
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid var(--nabornyy);
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.features-icon__img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.features-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}












.footer {
    background: #AB8261;
    max-height: 253px;
}

.footer-inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.footer-col {
    color: var(--fonovyy-svetlyy);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
    padding-top: 60px;
}

.footer-col:first-child {
    padding-top: 30px;
    padding-bottom: 60px;
}

.footer-logo__text {
    padding-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
}

.socials-link {
    margin-right: 15px;
}

.socials-link:last-child {
    margin-right: 0;
}

.socials-link:hover path {
    fill: var(--akcentnyy);
}


.footer-menu {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
}

.footer-menu__item {
    padding-bottom: 15px;
}

.footer-menu__item:last-child {
    padding-bottom: 0;
}


.time {
    display: flex;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-transform: uppercase;
    color: var(--fonovyy-svetlyy);
    padding-bottom: 10px;
}

.time-text {
    padding-left: 8px;
}

.location {
    display: flex;
}

.location-text {
    padding-left: 8px;
}

.phone {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;

    /* line-height: 38px; */
    line-height: 160%;
    text-transform: uppercase;
    color: var(--fonovyy-svetlyy);
}

.phone:hover {
    color: var(--akcentnyy);
}

.phone-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
}

.copy {
    display: flex;
    padding-left: 9px;
    padding-top: 47px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: #dec5b1;
}

.copy-text {
    padding-left: 5px;
}






.body--opened-modal {
    overflow: hidden;
}






.modal {
    position: fixed;
    inset: 0;
    background: #00000048;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal-cancel {
    position: absolute;
    content: '';
    top: 20px;
    right: 20px;
    transition: all .5s;
}

.modal-cancel path {
    transition: all .5s;
}

.modal-cancel rect {
    transition: all .5s;
}

.modal-cancel:hover path {
    stroke: var(--inputy);
}

.modal-cancel:hover rect {
    stroke: var(--inputy);
}

.modal-window {
    position: relative;
    padding: 0 60px 60px;
    border-radius: 20px;
    width: 428px;
    height: 491px;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    background: var(--fonovyy-svetlyy);
}

.modal-img {
    margin-left: 12px;
    margin-top: -65px;
    margin-bottom: 15px;
    max-width: 248px;
    max-height: 183px;
}



.modal-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;

    /* line-height: 38px; */
    line-height: 90%;
    color: var(--zagolovochnyy);
    padding-bottom: 10px;
}

.modal-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
    padding-bottom: 30px;
}

.modal-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.modal-form__label {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;

    /* line-height: 16px; */
    line-height: 150%;
    color: var(--inputy);
    width: 100%;
    max-width: 308px;
}

.modal-form__label span {
    position: absolute;
    content: '';
    top: 11px;
    left: 29px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.modal-form__input {
    color: black;
    border: 1px solid var(--inputy);
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    width: 100%;
    height: 62px;
    transition: all .5s;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    transition: all .6s;
}

.modal-form__input:hover {
    border-color: var(--akcentnyy);
}

.modal-form__input::placeholder {
    color: var(--inputy);
    transition: all .6s;
}

.modal-form__input:hover::placeholder {
    color: var(--akcentnyy);
}

.modal-form__input:focus {
    padding: 26px 42px 12px 28px;
}

.modal-form__input:focus+span {
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

.button:last-child {
    width: 308px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-align: center;
    color: var(--nabornyy);
}


/* =========================================================== */

@media (max-width:1200px) {
    .hero-img_control {
        position: static;
        margin-top: 30px;
        max-width: 100%;
    }

    .hero-img {
        margin: 0;
        max-width: 377px;
    }
}

@media (max-width:1050px) {
    .aboutUs-img {
        display: none;
    }

    .aboutUs-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .aboutUs-control__mobile {
        opacity: 1;
        visibility: visible;
    }

    .footer {
        margin-top: 140px;
    }

}

@media (max-width:1000px) {
    /* .footer-nav {
        display: none;
    } */

    .footer {
        max-height: none;
    }

    .footer-inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-col:first-child {
        padding-top: 10px;
        padding-bottom: 0;
    }

    .footer-col {
        padding-top: 20px;
        padding-bottom: 0px;
        gap: 15px 15px;
    }

    .footer-col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .socials {
        text-align: center;
    }

    .footer-logo__text {
        text-align: center;
    }

    .footer-nav {
        text-align: center;
    }

    .footer-col:last-child {
        display: flex;
        flex-direction: column;
    }

    .time {
        text-align: center;
    }

    .location-text {
        text-align: center;
    }

    .phone-text {
        text-align: center;
    }

    .phone {
        text-align: center;
    }

    .copy-text {
        text-align: center;
    }

    .time {
        align-items: center;
        justify-content: center;
    }

    .location {
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--fonovyy-svetlyy);
        padding: 25vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .body--opened-menu .burger-icon {
        z-index: 13;
    }

    .body--opened-menu .burger-icon span {
        left: 0;
        top: 0;
        z-index: 12;
        transform: rotateZ(45deg);
        transition: all .5s;
    }

    .body--opened-menu .burger-icon span::after {
        display: none;
    }

    .body--opened-menu .burger-icon span {
        opacity: 1;
    }

    .body--opened-menu .burger-icon span::before {
        left: 0;
        top: 0;
        z-index: 12;
        transform: rotateZ(90deg);
    }




    .menu {
        flex-direction: column;
        align-items: center;
    }

    .burger-icon {
        display: flex;
    }


}

@media (max-width:800px) {
    .hero-img {
        display: none;
    }

    .hero {
        align-items: center;
        justify-content: center;
    }

    .hero-text {
        flex-direction: column;
        text-align: center;
        max-width: none;
        align-items: center;
        justify-content: center;
    }

    .button {
        max-width: 100%;
    }

    .footer-logo__text {
        font-size: 12px;
    }

    .location-text {
        font-size: 12px;
    }

    .time-text {
        font-size: 12px;
    }

    .phone-text {
        font-size: 12px;
    }

    .phone {
        font-size: 12px;
    }

    .copy-text {
        font-size: 12px;
    }


}

@media (max-width:700px) {
    .aboutUs-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .footer {
        margin-top: 475px;
    }

    .aboutUs-text {
        padding-left: 0;
    }

    .aboutUs-title {
        text-align: center;
    }

    .title-desk {
        text-align: center;
    }

    .aboutUs-desk {
        text-align: center;
    }
}

@media (max-width:600px) {

    .hero-title {
        font-size: 12vw;
    }

    .hero {
        justify-content: center;
    }

    .hero-desk {
        font-size: 4vw;
    }

    .button {
        width: 100%;
    }

    .hero-text {
        flex-direction: column;
        text-align: center;
        max-width: none;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .footer-col:first-child {
        padding-top: 20px;
    }

}


@media (max-width: 400px) {
    .footer-col:nth-child(3) {
        display: none;
    }

    .footer {
        margin-top: 575px;
    }

    .modal-img {
        display: none;
    }

    .modal-title {
        padding-top: 60px;
    }


}

@media (max-width: 350px) {
    .button:last-child {
        font-size: 13px;
    }
}
