:root {
    --akcentnyy: #ffa55c;
    --akcentnyy-2: #ceaad0;
    --fonovyy: #ffe0cb;
    --fonovyy-svetlyy: #fff9f4;
    --zagolovochnyy: #1f1711;
    --nabornyy: #312c27;
    --fioletovyy: #704174;
    --disabled: #e1d9e1;
    --inputy: #ac907a;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Gabriola", sans-serif;
    --third-family: "Inspiration", sans-serif;
}

.body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background: var(--fonovyy-svetlyy);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    /* max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%; */
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header {
    background: url("../img/decor/bg-header.png") 0 0 / cover no-repeat;
    background-position: center center;
    /* padding-bottom: 140px; */
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 60px;
    padding-top: 19px;
}



.logo {
    max-width: 175px;
    max-height: 60px;
    z-index: 11;
}

.logo img {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4vh 40px;
}

.menu-link {
    z-index: 2;
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.menu-link::before {
    content: '';
    position: absolute;
    border-radius: 100%;
    background: var(--akcentnyy);
    left: -13px;
    top: -10px;
    width: 32px;
    height: 34px;
    z-index: -1;
    opacity: 0;
    transition: .4s;
}

.menu-link:hover::before {
    opacity: 1;
    transition: .4s;
}

.burger-icon {
    display: none;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 4px;
    background: var(--nabornyy);
    border-radius: 20px;
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    display: block;
    width: 35px;
    height: 4px;
    background: var(--nabornyy);
    border-radius: 20px;
    position: absolute;
    transition: all .5s;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}


.body--opened-menu .burger-icon span::after {
    left: 0;
    top: 0;
    z-index: 12;
    transform: rotateZ(45deg);
}

.body--opened-menu .burger-icon span::before {
    left: 0;
    top: 0;
    z-index: 12;
    transform: rotateZ(-45deg);
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 140px;
    padding-top: 48px;
    padding-bottom: 160px;
}


.hero-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 40px; */
    max-width: 520px;
    max-height: 372px;
}

.date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-transform: uppercase;
    color: #b197b2;
    margin-bottom: 20px;
}

.hero-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;

    /* line-height: 61px; */
    line-height: 82%;
    color: var(--zagolovochnyy);
    margin-bottom: 30px;
}

.hero-desk {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
    margin-bottom: 40px;
}

.hero-img {
    margin-right: 247px;
    position: relative;
}

.hero-img>img {
    max-width: 100%;
}

.hero-img_control {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 100%;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    bottom: 11%;
    left: calc(100% - 39px);
}

.hero-img_button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 100%;
    position: relative;
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
}

.hero-img_button img {
    padding-left: 8.8%;
}

.hero-img_button::before {
    opacity: 0;
    inset: 5px;
    content: '';
    position: absolute;
    border-radius: 100%;
    border: 1px solid var(--akcentnyy);
    transition: all .5s;
}

.hero-img_button:hover::before {
    opacity: 1;
    transition: all .5s;
}

.button {
    border-radius: 60px;
    padding: 18px 36px;
    width: 358px;
    height: 62px;
    transition: .6s;
    background: var(--akcentnyy);
    max-width: 100%;
}

.button-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-align: center;
    color: var(--nabornyy);
}

.button:hover {
    background: #ff9138;
    transition: .6s;
}

.modal-form__label {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;

    /* line-height: 16px; */
    line-height: 150%;
    color: var(--inputy);
    width: 100%;
    max-width: 308px;
}

/* ===================================== */

.aboutUs {
    padding-top: 140px;
    padding-bottom: 140px;
}

.aboutUs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.aboutUs-img {
    max-height: 543px;
    border-radius: 20px;
    overflow: hidden;
    grid-row: 1/-1;
    position: relative;
}

.aboutUs-img>img {
    object-fit: cover;
    object-position: 10% 10%;
}

.aboutUs-img__control {
    padding: 15px 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
    max-height: 108px;
    height: 100%;
    gap: 10px;
    bottom: 4.7%;
    left: 5%;
    text-align: left;
    background: rgba(149, 123, 151, 0.9);
    border-radius: 20px;
}

.aboutUs-img__button {
    position: relative;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 100%;
    background: var(--fonovyy-svetlyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
}

.aboutUs-img__button::before {
    opacity: 0;
    inset: 5px;
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--akcentnyy-2);
    transition: all .5s;
}

.aboutUs-control__mobile {
    padding: 15px 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
    max-height: 108px;
    height: 100%;
    gap: 10px;
    bottom: 4.7%;
    left: 5%;
    text-align: left;
    background: rgba(149, 123, 151, 0.9);
    border-radius: 20px;

    opacity: 0;
    visibility: hidden;
}


.aboutUs-img__button:hover::before {
    opacity: 1;
    transition: all .5s;
}

.aboutUs-text {
    max-height: 543px;
}

.aboutUs-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;

    /* line-height: 61px; */
    line-height: 82%;
    color: var(--zagolovochnyy);
}

.title-desk {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 30px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}

.aboutUs-desk {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}

.aboutUs-features {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.features-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;
    border-radius: 20px;
    width: 296px;
    height: 130px;
    background: var(--fonovyy);
    padding-left: 24.5px;
    padding-right: 24px;
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid var(--nabornyy);
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.features-icon__img {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.features-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}





/* ====================================== */

.program {}


.program__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 60px;
}

.program__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;

    /* line-height: 61px; */
    line-height: 82%;
    color: var(--zagolovochnyy);
    padding-bottom: 20px;
}

.program__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}

.tab-controls {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    gap: 26px;
    width: 100%;
    max-width: 624px;
    padding-bottom: 10px;
}

.tab-controls__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    border-radius: 100px;
    white-space: nowrap;
    padding: 14px 30px;
    max-width: 133px;
    max-height: 52px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
    background: var(--fonovyy-svetlyy);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    text-align: center;
    color: var(--nabornyy);
    transition: all .5s;
}

.tab-controls__item:hover {
    background: var(--fonovyy);
    transition: all .5s;
}

.tab-controls__item--active1 {
    background: var(--fonovyy);
}

.tab-controls__item--active2 {
    background: var(--fonovyy);
}

.tab-controls__item--active3 {
    background: var(--fonovyy);
}

.tab-controls__item--active4 {
    background: var(--fonovyy);
}

.tab__wrapper {
    /* display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px; */
}

.tab-content__wrapper1 {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
}

.tab-content__wrapper2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    display: none;
}

.tab-content__wrapper3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    display: none;
}

.tab-content__wrapper4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    display: none;
}

.tab-content--show {
    display: flex;
}


.tab-content__wrapper1 a:hover .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
    transition: all .5s;
}

.tab-content__wrapper1 a:hover path {
    transition: all .5s;
    fill: var(--fonovyy-svetlyy);
}

.tab-content__wrapper2 a:hover .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
    transition: all .5s;
}

.tab-content__wrapper2 a:hover path {
    transition: all .5s;
    fill: var(--fonovyy-svetlyy);
}

.tab-content__wrapper3 a:hover .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
    transition: all .5s;
}

.tab-content__wrapper3 a:hover path {
    transition: all .5s;
    fill: var(--fonovyy-svetlyy);
}

.tab-content__wrapper4 a:hover .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
    transition: all .5s;
}

.tab-content__wrapper4 a:hover path {
    transition: all .5s;
    fill: var(--fonovyy-svetlyy);
}


.tab-content1,
.tab-content2,
.tab-content3,
.tab-content4,
.tab-content5,
.tab-content6,
.tab-content7,
.tab-content8 {
    border: 1px solid var(--akcentnyy);
    border-radius: 20px;
    padding: 40px 30px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.tab__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;

    /* line-height: 38px; */
    line-height: 90%;
    color: var(--zagolovochnyy);
}

.tab__img-wrapper {
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    border: 1.50px solid var(--akcentnyy);
    flex-shrink: 0;
}

#tab1 {
    border: 1px solid var(--akcentnyy);
    border-radius: 20px;
    padding: 40px 30px;
    width: 100%;
}

.tab-content--opened1,
.tab-content--opened2,
.tab-content--opened3,
.tab-content--opened4,
.tab-content--opened5,
.tab-content--opened6,
.tab-content--opened7,
.tab-content--opened8 {
    display: none;
}

.tab1--opened,
.tab2--opened,
.tab3--opened,
.tab4--opened,
.tab5--opened,
.tab6--opened,
.tab7--opened,
.tab8--opened {
    display: block;
}

.tab1--closed,
.tab2--closed,
.tab3--closed,
.tab4--closed,
.tab5--closed,
.tab6--closed,
.tab7--closed,
.tab8--closed {
    display: none;
}

.tab-inside__wrapper--opened {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.tab-content--opened1 .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.tab-content--opened1 .tab__img-wrapper path {
    fill: var(--fonovyy-svetlyy);
}

.tab-content--opened2 .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.tab-content--opened2 .tab__img-wrapper path {
    fill: var(--fonovyy-svetlyy);
}

.tab-content--opened3 .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.tab-content--opened3 .tab__img-wrapper path {
    fill: var(--fonovyy-svetlyy);
}

.tab-content--opened4 .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.tab-content--opened4 .tab__img-wrapper path {
    fill: var(--fonovyy-svetlyy);
}

.tab-content--opened5 .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.tab-content--opened5 .tab__img-wrapper path {
    fill: var(--fonovyy-svetlyy);
}

.tab-content--opened6 .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.tab-content--opened6 .tab__img-wrapper path {
    fill: var(--fonovyy-svetlyy);
}

.tab-content--opened7 .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.tab-content--opened7 .tab__img-wrapper path {
    fill: var(--fonovyy-svetlyy);
}

.tab-content--opened8 .tab__img-wrapper {
    transform: rotate(90deg);
    background: var(--akcentnyy);
}

.tab-content--opened8 .tab__img-wrapper path {
    fill: var(--fonovyy-svetlyy);
}





.tab--opened {
    display: flex;
}


.tab--opened__theory {
    max-width: 507px;
    width: 100%;
}

.tab--opened__practice {
    padding-left: 80px;
}

.tab-content__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
    padding-bottom: 20px;
    padding-top: 20px;
}

.tab-content__text {
    display: flex;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
    padding-bottom: 20px;
}

.tab-content__text .features-icon {
    border: 1px solid var(--akcentnyy-2);
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.tab-content__text .features-icon__img {
    width: 9.6px;
}

.program__price {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;

}

.discount {
    border-radius: 20px;
    background: var(--fonovyy);
}

.discount__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;

    /* line-height: 30px; */
    line-height: 150%;
    color: var(--nabornyy);

    padding-top: 40px;
    padding-left: 40px;
}

.discount__number {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;

    /* line-height: 61px; */
    line-height: 82%;
    text-align: center;
    color: var(--akcentnyy);


    max-width: 126px;
    max-height: 61px;

    padding-left: 71px;

    animation: discount-grow 2s infinite alternate;
}


@keyframes discount-grow {
    0% {
        font-size: 74px;
    }

    100% {
        color: #ff9138;
        font-size: 82px;
    }
}

.discount__number-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);

    padding-left: 125px;
    padding-right: 81px;
    padding-bottom: 40px;
    padding-top: 7px;
}

.price__text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.price__text-item:first-child {
    padding-bottom: 51px;
}

.price__text-desk {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
}

.price__text-number {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;

    /* line-height: 29px; */
    line-height: 90%;
    color: var(--nabornyy);
}

.price__text-number--main {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 50px;

    /* line-height: 45px; */
    line-height: 90%;
    color: var(--zagolovochnyy);
    padding-top: 5px;
}

.price .button {
    width: 100%;
    margin-top: 40px;
}

.price__button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    color: var(--nabornyy);
    border-radius: 60px;
    text-align: center;
}

/* ========================================================= */

.gallery {
    margin-top: 140px;
}

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
    max-width: 434px;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
}

.gallery__info {
    max-width: 380px;
    width: 100%;
}

.gallery__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 98px;
    position: relative;
}

.gallery__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;

    /* line-height: 61px; */
    line-height: 82%;
    color: var(--zagolovochnyy);
    padding-bottom: 20px;
}

.gallery__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}

.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}


.gallery__slide img {
    width: 100%;
    min-width: 50%;
}

.gallery__next path,
.gallery__prev path {
    transition: all .5s;
}

.gallery__next,
.gallery__prev {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    border: 1.50px solid var(--akcentnyy);
    flex-shrink: 0;
    cursor: pointer;
    transition: all .5s;
}


.swiper-button-disabled.gallery__next,
.swiper-button-disabled.gallery__prev {
    border: 1.50px solid var(--disabled);
    cursor: auto;
}

.swiper-button-disabled.gallery__next path,
.swiper-button-disabled.gallery__prev path {
    fill: var(--disabled);
    cursor: auto;
}

.swiper-button-disabled.gallery__next:hover,
.swiper-button-disabled.gallery__prev:hover {
    background: none;
    cursor: auto;
}

.swiper-button-disabled.gallery__next:hover path,
.swiper-button-disabled.gallery__prev:hover path {
    fill: var(--disabled);
    cursor: auto;
}

.gallery__next:hover,
.gallery__prev:hover {
    transition: all .5s;
    background: var(--akcentnyy);
}

.gallery__next:hover path,
.gallery__prev:hover path {
    fill: var(--fonovyy-svetlyy);
    transition: all .5s;
}

.gallery__pagination {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;

    /* line-height: 38px; */
    line-height: 90%;
    text-align: center;
    color: var(--nabornyy);
    display: flex;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    width: auto;
}

/* .gallery__prev {
    margin-right: 30px;
}

.gallery__next {
    margin-left: 30px;
} */



/* ===================================================== */

.feedback {
    margin-top: 140px;
}

.feedback__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
    gap: 30px;
}

.feedback__top-text {
    max-width: 632px;
    width: 100%;
}

.feedback__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;

    /* line-height: 61px; */
    line-height: 82%;
    color: var(--zagolovochnyy);
    padding-bottom: 20px;
}

.feedback__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}

.feedback__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.feedback__next path,
.feedback__prev path {
    transition: all .5s;
}

.feedback__next,
.feedback__prev {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    border: 1.50px solid var(--akcentnyy);
    flex-shrink: 0;
    cursor: pointer;
    transition: all .5s;
}


.swiper-button-disabled.feedback__next,
.swiper-button-disabled.feedback__prev {
    border: 1.50px solid var(--disabled);
    cursor: auto;
}

.swiper-button-disabled.feedback__next path,
.swiper-button-disabled.feedback__prev path {
    fill: var(--disabled);
    cursor: auto;
}

.swiper-button-disabled.feedback__next:hover,
.swiper-button-disabled.feedback__prev:hover {
    background: none;
    cursor: auto;
}

.swiper-button-disabled.feedback__next:hover path,
.swiper-button-disabled.feedback__prev:hover path {
    fill: var(--disabled);
    cursor: auto;
}

.feedback__next:hover,
.feedback__prev:hover {
    transition: all .5s;
    background: var(--akcentnyy);
}

.feedback__next:hover path,
.feedback__prev:hover path {
    fill: var(--fonovyy-svetlyy);
    transition: all .5s;
}

.feedback__swiper {
    padding-bottom: 42px;
    overflow: visible;

}



.feedback__quote {
    border-radius: 20px;
    min-height: 330px;
    height: auto;
    background: var(--fonovyy);
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
    padding-right: 30px;
}

.feedback__swiper-slide {
    width: 624px;
}


.feedback__user {
    width: 100%;
}

.feedback__swiper-slide.swiper-slide {
    transform: scale(.9);
    transition: all .5s;
    opacity: 0.5;
}

/* div.feedback__swiper-slide.swiper-slide.swiper-slide-active {
    width: 624px !important;
} */

.swiper-slide-active.feedback__swiper-slide {
    transform: scale(1);
    transition: all .5s;
    opacity: 1;
}


.quote__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 165px;
    width: 100%;
    flex-shrink: 0;
}

.quote__img {
    max-width: 165px;
}

.quote__img img {
    border-radius: 20px;
    max-width: 100%;
}

.quote__name {
    padding-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-transform: uppercase;
    color: var(--zagolovochnyy);
}

.quote__social {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--akcentnyy-2);

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 5px;
}

.quote__right {
    max-width: 369px;
    width: 100%;
    margin-left: 30px;
}

.quote__right span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;

    /* line-height: 29px; */
    line-height: 90%;
    color: var(--zagolovochnyy);
}

.quote__text {
    padding-top: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
}



.swiper-scrollbar-drag {
    border-radius: 100px;
    width: 132px;
    height: 7px;
    background: var(--akcentnyy);
}








/* ===================================================== */

.footer__top {
    background: url("../img/decor/bg-footer.png") 0 0 / cover no-repeat;
    margin-top: 140px;
    background-position: center center;
}

.footer__top-wrapper {
    padding-top: 123px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
}

.footer__form {
    margin-left: 84px;
    max-width: 420px;
    width: 100%;
}



/* 
.footer__cake {
    max-width: 574px;
}

.footer__cake img {
    width: 100%;
    justify-self: center;
    align-self: center;
} */


.footer__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 74px;

    /* line-height: 61px; */
    line-height: 82%;
    color: var(--zagolovochnyy);

    padding-bottom: 20px;
}

.footer__form-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);

    padding-bottom: 40px;
}


.footer__form-input {

    color: black;
    border: 1px solid var(--inputy);
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    width: 100%;
    height: 62px;
    transition: all .5s;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    transition: all .6s;

}

.footer__form-label {
    width: 100%;
    max-width: 420px;
}

.footer__form-label:first-child {
    padding-bottom: 10px;
}

.footer__form-label .footer__form-input {
    background: rgba(0, 0, 0, 0.0);
    width: 100%;
}

.footer__form-label .modal-form__input {
    background: rgba(0, 0, 0, 0.0);
}

.footer__form-input:hover {
    border-color: var(--akcentnyy);
}

.footer__form-input::placeholder {
    transition: all .5s;
}

.footer__form-input:hover::placeholder {
    color: var(--akcentnyy);
    transition: all .5s;
}

.footer__top-radio {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
}

.footer__radio {
    border: 1.50px solid var(--inputy);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    text-align: center;
    margin-right: 5px;
}

.footer__top-checkbox {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
}

.footer__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    display: none;
    background: url("../img/icons/check.svg") 50% 50% no-repeat;
}

.footer__checkbox {
    border: 1.8px solid var(--inputy);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    text-align: center;
    margin-right: 5px;
    margin-top: 3px;
    appearance: none;
    cursor: pointer;
    position: relative;
    transition: all .5s;
}

.footer__checkbox:hover {
    border: 1.8px solid var(--akcentnyy);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    transition: all .5s;
}

.footer__checkbox:checked {
    background: var(--akcentnyy);
    transition: all .5s;
    border: 1.8px solid var(--akcentnyy);
}

.footer__checkbox:checked::before {
    display: block;
}

.policy {
    text-decoration: underline;
}

.footer__form .button {
    margin-top: 20px;
    width: 100%;
}

.footer__berry {
    width: 92px;
    height: 92px;
    margin-top: 38px;
    margin-left: 104px;
}












/* ============================================ */



.footer {
    background: #AB8261;
}

.footer-inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.footer-col {
    color: var(--fonovyy-svetlyy);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
    padding-top: 60px;
}

.footer-col:first-child {
    padding-top: 30px;
    padding-bottom: 60px;
}

.footer-logo__text {
    padding-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
}

.socials-link {
    margin-right: 15px;
}

.socials-link:last-child {
    margin-right: 0;
}

.socials-link:hover path {
    fill: var(--akcentnyy);
}


.footer-menu {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
}

.footer-menu__item {
    padding-bottom: 15px;
}

.footer-menu__item:last-child {
    padding-bottom: 0;
}


.time {
    display: flex;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-transform: uppercase;
    color: var(--fonovyy-svetlyy);
    padding-bottom: 10px;
}

.time-text {
    padding-left: 8px;
}

.location {
    display: flex;
}

.location-text {
    padding-left: 8px;
}

.phone {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;

    /* line-height: 38px; */
    line-height: 160%;
    text-transform: uppercase;
    color: var(--fonovyy-svetlyy);
}

.phone:hover {
    color: var(--akcentnyy);
}

.phone-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--fonovyy-svetlyy);
}

.copy {
    display: flex;
    padding-left: 9px;
    padding-top: 47px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: #dec5b1;
}

.copy-text {
    padding-left: 5px;
}






.body--opened-modal {
    overflow: hidden;
}


/* =========================================== */



.modal {
    position: fixed;
    inset: 0;
    background: #00000048;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal-cancel {
    position: absolute;
    content: '';
    top: 20px;
    right: 20px;
    transition: all .5s;
}

.modal-cancel path {
    transition: all .5s;
}

.modal-cancel rect {
    transition: all .5s;
}

.modal-cancel:hover path {
    stroke: var(--inputy);
}

.modal-cancel:hover rect {
    stroke: var(--inputy);
}

.modal-window {
    position: relative;
    padding: 0 60px 60px;
    border-radius: 20px;
    width: 428px;
    height: 491px;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    background: var(--fonovyy-svetlyy);
}

.modal-img {
    margin-left: 12px;
    margin-top: -65px;
    margin-bottom: 15px;
    max-width: 248px;
    max-height: 183px;
}



.modal-title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;

    /* line-height: 38px; */
    line-height: 90%;
    color: var(--zagolovochnyy);
    padding-bottom: 10px;
}

.modal-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    color: var(--nabornyy);
    padding-bottom: 30px;
}

.modal-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}



.modal-form__label span {
    position: absolute;
    content: '';
    top: 11px;
    left: 29px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.modal-form__input {
    color: black;
    border: 1px solid var(--inputy);
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    width: 100%;
    height: 62px;
    transition: all .5s;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    transition: all .6s;
}

.modal-form__input:hover {
    border-color: var(--akcentnyy);
}

.modal-form__input::placeholder {
    color: var(--inputy);
    transition: all .6s;
}

.modal-form__input:hover::placeholder {
    color: var(--akcentnyy);
}

.modal-form__input:focus {
    padding: 26px 42px 12px 28px;
}

.modal-form__input:focus+span {
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

.modal-form .button {
    width: 308px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 160%;
    text-align: center;
    color: var(--nabornyy);
}


/* =========================================================== */

@media (max-width:1300px) {

    .footer__top-content {
        max-height: 119px;
    }

    .footer__berry-wrapper {
        max-width: 92px;
        max-height: 92px;
    }

    .footer__top-content img {
        width: 100%;
    }

    .footer__berry-wrapper img {
        width: 100%;
        margin-left: 0;
    }

    .footer__form {
        margin: 0;
    }

    .footer__cake {
        display: none;
    }
}

@media (max-width:1200px) {
    .hero-img_control {
        position: static;
        margin-top: 30px;
        max-width: 100%;
    }

    .hero-img {
        margin: 0;
        max-width: 377px;
    }
}

@media (max-width:1120px) {
    .price__img img {
        display: none;
    }

    .program__price {
        justify-content: center;
    }
}

@media (max-width:1050px) {

    .aboutUs-img {
        grid-row: auto;
    }

    .aboutUs-img>img {}

    .aboutUs-features {
        grid-column: 1/-1;
    }

    .features-block {
        width: 100%;
    }

    .aboutUs-text {
        align-self: center;
    }

    .program__top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .program__text {
        padding-bottom: 25px;
    }

}

@media (max-width:1000px) {


    .footer {
        max-height: none;
    }

    .footer-inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-col:first-child {
        padding-top: 10px;
        padding-bottom: 0;
    }

    .footer-col {
        padding-top: 20px;
        padding-bottom: 0px;
        gap: 15px 15px;
    }

    .footer-col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .socials {
        text-align: center;
    }

    .footer-logo__text {
        text-align: center;
    }

    .footer-nav {
        text-align: center;
    }

    .footer-col:last-child {
        display: flex;
        flex-direction: column;
    }

    .time {
        text-align: center;
    }

    .location-text {
        text-align: center;
    }

    .phone-text {
        text-align: center;
    }

    .phone {
        text-align: center;
    }

    .copy-text {
        text-align: center;
    }

    .time {
        align-items: center;
        justify-content: center;
    }

    .location {
        align-items: center;
        justify-content: center;
    }

}

@media (max-width: 950px) {
    .gallery__img {
        display: none;
    }

    .gallery__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    .gallery__info {
        max-width: none;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--fonovyy-svetlyy);
        padding: 25vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .body--opened-menu .burger-icon {
        z-index: 13;
    }

    .body--opened-menu .burger-icon span {
        left: 0;
        top: 0;
        z-index: 12;
        transform: rotateZ(45deg);
        transition: all .5s;
    }

    .body--opened-menu .burger-icon span::after {
        display: none;
    }

    .body--opened-menu .burger-icon span {
        opacity: 1;
    }

    .body--opened-menu .burger-icon span::before {
        left: 0;
        top: 0;
        z-index: 12;
        transform: rotateZ(90deg);
    }




    .menu {
        flex-direction: column;
        align-items: center;
    }

    .burger-icon {
        display: flex;
    }


}

@media (max-width:800px) {
    .hero-img {
        display: none;
    }

    .hero {
        align-items: center;
        justify-content: center;
    }

    .hero-text {
        flex-direction: column;
        text-align: center;
        max-width: none;
        align-items: center;
        justify-content: center;
    }

    .button {
        max-width: 100%;
    }

    .footer-logo__text {
        font-size: 12px;
    }

    .location-text {
        font-size: 12px;
    }

    .time-text {
        font-size: 12px;
    }

    .phone-text {
        font-size: 12px;
    }

    .phone {
        font-size: 12px;
    }

    .copy-text {
        font-size: 12px;
    }

    .aboutUs-wrapper {
        grid-template: none;
    }

    .aboutUs-img>img {
        width: 100%;
        height: 100%;
        object-position: 10% 60%;
    }

    .feedback__top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}

@media (max-width:700px) {
    .aboutUs-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .gallery__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .aboutUs-text {
        padding-left: 0;
    }

    .aboutUs-title {
        text-align: center;
    }

    .title-desk {
        text-align: center;
    }

    .aboutUs-desk {
        text-align: center;
    }
}

@media (max-width:650px) {

    .tab-controls {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    /* .tab-controls {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .program__title {
        font-size: 52px;
    }

    .program__text {
        font-size: 14px;
    }

    .tab__title {
        font-size: 32px;
    }

    .tab--opened {
        flex-direction: column;
    }

    .tab--opened__practice {
        padding-left: 0;
    }

    .footer__top-content {
        display: none;
    }

    .footer__berry-wrapper {
        display: none;
    }

    .footer__top-wrapper {
        justify-content: center;
    }

    .footer__title {
        font-size: 60px;
    }

    .footer__form-text {
        font-size: 16px;
    }

}

@media (max-width:600px) {

    .hero-title {
        font-size: 12vw;
    }

    .hero {
        justify-content: center;
    }

    .hero-desk {
        font-size: 4vw;
    }

    .button {
        width: 100%;
    }

    .hero-text {
        flex-direction: column;
        text-align: center;
        max-width: none;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .footer-col:first-child {
        padding-top: 20px;
    }

    .feedback__quote {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .quote__right {
        padding-top: 20px;
    }

    .quote__text {
        font-size: 14px;
    }

}

@media (max-width:550px) {

    .gallery__inner {
        padding-bottom: 20px;
    }

    .gallery__info {
        max-width: 380px;
    }

    .gallery__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .gallery__nav {
        flex-direction: row;
    }


}

@media (max-width:529px) {
    .price__text-desk {
        font-size: 12px;
    }

    .price__text-number--main {
        font-size: 36px;
    }

    .price__text-number {
        font-size: 30px;
    }
}

@media (max-width:500px) {

    .feedback__title {
        font-size: 55px;
    }

    .feedback__text {
        font-size: 15px;
    }

}

@media (max-width:476px) {


    .price__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .price__text {
        flex-direction: row;
    }

    .price__text-item:first-child {
        margin-right: 20px;
    }

    .program__price .button {
        margin-top: 0;
    }
}

@media (max-width: 400px) {

    .gallery__title {
        font-size: 64px;
    }

    .gallery__text {
        font-size: 14px;
    }

    .footer-col:nth-child(3) {
        display: none;
    }


    .modal-img {
        display: none;
    }

    .modal-title {
        padding-top: 60px;
    }

    .aboutUs-img__control {
        font-size: 11px;
        max-width: 250px;
        max-height: 85px;
    }

    .footer__title {
        font-size: 50px;
    }

    .footer__form-text {
        font-size: 13px;
    }

    .quote__text {
        font-size: 13px;
    }


}

@media (max-width: 380px) {

    .feedback__title {
        font-size: 45px;
    }

    .feedback__text {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .button:last-child {
        font-size: 13px;
    }
}
